<br/>

<h2 style="text-align: center; margin-bottom: 15px;">Your subscriptions</h2>

<mat-divider style="width: 80%; margin: 0 auto"></mat-divider>
<br/>

<h4 style="text-align: center;">Channels</h4>
<mat-nav-list class="sub-nav-list">
    <mat-list-item *ngFor="let sub of channel_subscriptions">
        <a class="a-list-item" matLine (click)="goToSubscription(sub)" href="javascript:void(0)">
            <strong *ngIf="sub.name">{{ sub.name }}</strong>
            <div *ngIf="!sub.name">
                Name not available. Channel retrieval in progress.
                <ngx-content-loading *ngIf="false" [width]="200" [height]="20">
                    <svg:g ngx-rect width="200" height="20" y="0" x="0" rx="4" ry="4"></svg:g>
                </ngx-content-loading>
            </div>
        </a>
        <button mat-icon-button (click)="showSubInfo(sub)">
            <mat-icon>info</mat-icon>
        </button>
    </mat-list-item>
 </mat-nav-list>

<div style="width: 80%; margin: 0 auto; padding-left: 15px;" *ngIf="channel_subscriptions.length === 0 && subscriptions">
    <p>You have no channel subscriptions.</p>
</div>

<h4 style="text-align: center;">Playlists</h4>
<mat-nav-list class="sub-nav-list">
    <mat-list-item *ngFor="let sub of playlist_subscriptions">
        <a class="a-list-item" matLine (click)="goToSubscription(sub)" href="javascript:void(0)">
            <strong>{{ sub.name }}</strong>
            <div class="content-loading-div" *ngIf="!sub.name">
                Name not available. Playlist retrieval in progress.
                <ngx-content-loading *ngIf="false" [primaryColor]="postsService.theme.background_color" [secondaryColor]="postsService.theme.alternate_color" [width]="200" [height]="20">
                    <svg:g ngx-rect width="200" height="20" y="0" x="0" rx="4" ry="4"></svg:g>
                </ngx-content-loading>
            </div>
        </a>
        <button mat-icon-button (click)="showSubInfo(sub)">
            <mat-icon>info</mat-icon>
        </button>
    </mat-list-item>
</mat-nav-list>

<div style="width: 80%; margin: 0 auto; padding-left: 15px;" *ngIf="playlist_subscriptions.length === 0 && subscriptions">
    <p>You have no playlist subscriptions.</p>
</div>

<div style="margin: 0 auto; width: 80%" *ngIf="subscriptions_loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<button class="add-subscription-button" (click)="openSubscribeDialog()" mat-fab><mat-icon>add</mat-icon></button>