.add-subscription-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.subscription-card {
    height: 200px;
    width: 300px;
}

.content-loading-div {
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: -18px;
}

.a-list-item {
    height: 48px;
    color: unset;
    display: flex;
    align-items: center;
}

::ng-deep .mdc-list-item__primary-text {
    display: flex;
}

.sub-nav-list {
    margin: 0 auto;
    width: 80%;
}