<div style="position: relative; width: fit-content;">
    <div class="duration-time">
        <ng-container i18n="Video duration label">Length:</ng-container>&nbsp;{{file_length}}
    </div>
    <button [matMenuTriggerFor]="action_menu" class="menuButton" mat-icon-button><mat-icon>more_vert</mat-icon></button>
    <mat-menu #action_menu="matMenu">
        <button (click)="openFileInfoDialog()" mat-menu-item><mat-icon>info</mat-icon><ng-container i18n="Video info button">Info</ng-container></button>
        <button (click)="navigateToSubscription()" mat-menu-item *ngIf="file_obj.sub_id"><mat-icon>{{file_obj.isAudio ? 'library_music' : 'video_library'}}</mat-icon>&nbsp;<ng-container i18n="Go to subscription menu item">Go to subscription</ng-container></button>
        <button (click)="deleteFile()" mat-menu-item>
            <mat-icon>restore</mat-icon><ng-container i18n="Delete and redownload subscription video button">Delete and redownload</ng-container>
        </button>
        <button (click)="deleteFile(true)" mat-menu-item *ngIf="use_youtubedl_archive">
            <mat-icon>delete_forever</mat-icon><ng-container i18n="Delete forever subscription video button">Delete forever</ng-container>
        </button>
    </mat-menu>
    <mat-card (click)="navigateToFile()" matRipple class="example-card mat-elevation-z6">
        <div style="padding:5px">
            <div *ngIf="file_obj.thumbnailURL" class="img-div">
                <img class="image" [src]="file_obj.thumbnailURL" alt="Thumbnail">
            </div>

            <span class="max-two-lines"><strong>{{file_title}}</strong></span>      
        </div>
    </mat-card>
</div>
