<div *ngIf="downloads">
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource">
      
          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> <ng-container i18n="Date">Date</ng-container> </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.timestamp_start | date: 'short'}} </mat-cell>
          </ng-container>
      
          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> <ng-container i18n="Title">Title</ng-container> </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="one-line" *ngIf="element.container">
                    {{element.container.title ? element?.container.title : element.container.name}}
                </span>
            </mat-cell>
          </ng-container>
      
          <!-- Stage Column -->
          <ng-container matColumnDef="stage">
            <mat-header-cell *matHeaderCellDef> <ng-container i18n="Stage">Stage</ng-container> </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{STEP_INDEX_TO_LABEL[element.step_index]}} </mat-cell>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="progress">
            <mat-header-cell *matHeaderCellDef> <ng-container i18n="Progress">Progress</ng-container> </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{+(element.percent_complete) > 100 ? '100' : element.percent_complete}}% </mat-cell>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> <ng-container i18n="Actions">Actions</ng-container> </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <div *ngIf="!element.finished">
                    <button mat-icon-button><mat-icon>pause</mat-icon></button>
                    <button mat-icon-button><mat-icon>cancel</mat-icon></button>
                </div>
                <div *ngIf="element.finished">
                    <button mat-icon-button><mat-icon>restart_alt</mat-icon></button>
                    <button mat-icon-button><mat-icon>delete</mat-icon></button>
                </div>
            </mat-cell>
          </ng-container>
      
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons 
                       aria-label="Select page of downloads">
        </mat-paginator>
      </div>
</div>