.add-playlist-button {
    float: right;
    position: relative;
    bottom: 15px;
    right: 15px;
}

.large-col {
    max-width: 320px;
}

.medium-col {
    max-width: 240px;
}

.small-col {
    max-width: 240px;
}