<h4 mat-dialog-title>{{file.title}}</h4>

<mat-dialog-content>
    <div class="info-item">
        <div class="info-item-label"><strong><ng-container i18n="Video name property">Name:</ng-container>&nbsp;</strong></div>
        <div class="info-item-value">{{file.title}}</div>
    </div>
    <div class="info-item">
        <div class="info-item-label"><strong><ng-container i18n="Video URL property">URL:</ng-container>&nbsp;</strong></div>
        <div class="info-item-value"><a target="_blank" [href]="file.url">{{file.url}}</a></div>
    </div>
    <div class="info-item">
        <div class="info-item-label"><strong><ng-container i18n="Video ID property">Uploader:</ng-container>&nbsp;</strong></div>
        <div class="info-item-value">{{file.uploader ? file.uploader : 'N/A'}}</div>
    </div>
    <div class="info-item">
        <div class="info-item-label"><strong><ng-container i18n="Video file size property">File size:</ng-container>&nbsp;</strong></div>
        <div class="info-item-value">{{file.size ? filesize(file.size) : 'N/A'}}</div>
    </div>
    <div class="info-item">
        <div class="info-item-label"><strong><ng-container i18n="Video path property">Path:</ng-container>&nbsp;</strong></div>
        <div class="info-item-value">{{file.path ? file.path : 'N/A'}}</div>
    </div>
    <div class="info-item">
        <div class="info-item-label"><strong><ng-container i18n="Video upload date property">Upload Date:</ng-container>&nbsp;</strong></div>
        <div class="info-item-value">{{file.upload_date ? file.upload_date : 'N/A'}}</div>
    </div>
    <div class="info-item">
        <div class="info-item-label"><strong><ng-container i18n="Category property">Category:</ng-container>&nbsp;</strong></div>
        <div class="info-item-value"><ng-container *ngIf="file.category"><mat-chip-list><mat-chip>{{file.category.name}}</mat-chip></mat-chip-list></ng-container><ng-container *ngIf="!file.category">N/A</ng-container></div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close><ng-container i18n="Close subscription info button">Close</ng-container></button>
</mat-dialog-actions>