<h4 *ngIf="pinSetChecked" mat-dialog-title>{{dialog_title}}</h4>

<mat-dialog-content>
    <div style="position: relative">
        <div *ngIf="pinSetChecked">
            <mat-form-field color="accent">
                <input type="password" (keyup.enter)="doAction()" matInput [(ngModel)]="input" [placeholder]="input_placeholder">
            </mat-form-field>
        </div>
        <div class="spinner-div" *ngIf="!pinSetChecked">
            <mat-spinner [diameter]="25"></mat-spinner>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button [disabled]="input.length === 0" color="accent" style="margin-bottom: 12px;" (click)="doAction()" mat-raised-button>{{button_label}}</button>
</mat-dialog-actions>