<h4 *ngIf="notifications !== null && notifications.length === 0 && read_notifications.length === 0" style="text-align: center; margin: 10px;">No notifications available</h4>
<div style="margin: 10px;" *ngIf="notifications?.length > 0">
    <h4 class="notification-title">New notifications</h4>
    <div *ngFor="let notification of appService.notifications; let i = index;">
        <mat-divider class="notification-divider"></mat-divider>
        <div style="display: inline-block;">
            <button (click)="deleteNotification(notification.id, i, false)" mat-icon-button><mat-icon>close</mat-icon></button>
        </div>
        <div style="display: inline-block">
            {{notification.title}}
        </div>
        <div style="margin-left: 10px; float: right;" *ngIf="notification.action">
            <button (click)="notificationAction(notification)" [color]="notification.action.warn ? 'warn' : 'primary'" mat-raised-button>{{notification.action.title}}</button>
        </div>
    </div>
</div>

<div style="margin: 10px;" *ngIf="read_notifications?.length > 0">
    <h4 class="notification-title">Old notifications</h4>
    <div *ngFor="let notification of appService.read_notifications; let i = index">
        <mat-divider class="notification-divider"></mat-divider>
        <div style="display: inline-block;">
            <button (click)="deleteNotification(notification.id, i, true)" mat-icon-button><mat-icon>close</mat-icon></button>
        </div>
        <div style="display: inline-block">
            {{notification.title}}
        </div>
        <div style="margin-left: 10px; float: right" *ngIf="notification.action">
            <button (click)="notificationAction(notification)" [color]="notification.action.warn ? 'warn' : 'primary'" mat-raised-button>{{notification.action.title}}</button>
        </div>
    </div>
</div>