<mat-card class="example-card">
  <button (click)="deleteFile()" class="deleteButton" mat-icon-button><mat-icon>delete_forever</mat-icon></button>
  <div style="padding:5px">
    <b><a href="javascript:void(0)" (click)="!isPlaylist ? mainComponent.goToFile(name, isAudio) : mainComponent.goToPlaylist(name, type)">{{title}}</a></b>
    <br/>
    ID: {{name}}
    <div *ngIf="isPlaylist">Count: {{count}}</div>
</div>
    

  
  <div class="centered example-full-width-height"><img class="image" src="{{thumbnailURL}}" alt="Thumbnail"></div>

</mat-card>
