<mat-card class="example-card mat-elevation-z6">
  <div style="padding:5px">
    <b><a href="javascript:void(0)" (click)="!isPlaylist ? mainComponent.goToFile(name, isAudio) : mainComponent.goToPlaylist(name, type)">{{title}}</a></b>
    <br/>
    <span class="max-two-lines">ID: {{name}}</span>
    <div *ngIf="isPlaylist">Count: {{count}}</div>
    <div *ngIf="!image_errored && thumbnailURL" class="img-div">
      <img class="image" (error) ="onImgError($event)" [id]="type" [lazyLoad]="thumbnailURL" [customObservable]="scrollAndLoad" (onLoad)="imageLoaded($event)" alt="Thumbnail">
      <span *ngIf="!image_loaded">
        <ngx-content-loading [width]="500" [height]="360">
          <svg:g ngx-rect width="500" height="360" y="0" x="0" rx="4" ry="4"></svg:g>
        </ngx-content-loading>
      </span>
    </div>
  </div>
  <button (click)="deleteFile()" class="deleteButton" mat-icon-button><mat-icon>delete_forever</mat-icon></button>
</mat-card>
