.demo-card {
    margin: 16px;
}

.demo-basic {
    padding: 0;
}

.demo-basic .mat-card-content {
    padding: 16px;
}

mat-toolbar.top {
    height: 60px;
    width: 100%;
    text-align: center;
}

/*::ng-deep .mat-form-field-placeholder{

    transform: scale(.75) translateY(20px) !important;
  }*/

.big {
    max-width: 800px;
    margin: 0 auto;
}

.centered {
    margin: 0 auto;
    top: 50%;
    left: 50%;
}

.example-full-width {
    width: 100%;
}

mat-form-field.mat-form-field {
    font-size: 24px;
  }