<mat-toolbar color="primary" class="top">
    <table width="100%" height="100%">
        <td class="topbar" style="text-align: left; left:0px; font-size: 15px">
        </td>
        <td class="topbar" style="text-align: center">
            <div style="margin-top: 14px">{{topBarTitle}}</div>
        </td>
        <td class="topbar" style="text-align: right">

        </td>
    </table>
</mat-toolbar>

<br/>

<mat-card id="card" class="big demo-basic">
    <mat-card-title>
        <mat-toolbar color="primary">Youtube Downloader</mat-toolbar>
    </mat-card-title>
    <div style="width: 100%; height: 100%; padding-left: 24px; padding-right: 24px; position: relative">
        <mat-card-content>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="url" placeholder="URL" type="url" name="url" [formControl]="urlForm" required>
                    <mat-error *ngIf="urlError || urlForm.invalid">Please enter a valid URL!</mat-error>
                </mat-form-field>
            </form>
            <br/>
            <mat-checkbox [(ngModel)]="audioOnly" style="float: left; margin-top: -12px">Only Audio</mat-checkbox>
            <button style="float: right; margin-top: -16px" (click)="downloadClicked()" [disabled]="downloadingfile" type="submit" mat-raised-button
                color="primary">Download</button>
        </mat-card-content>
    </div>
</mat-card>
<br/>
<div class="centered big" id="bar_div" *ngIf="downloadingfile;else nofile">
    <div *ngIf="determinateProgress;else indeterminateprogress">
        <mat-progress-bar mode="determinate" value="{{percentDownloaded}}"></mat-progress-bar>
    </div>
    <ng-template #indeterminateprogress>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>
    <br/>
</div>
<ng-template #nofile>

</ng-template>
<mat-accordion>
    <mat-expansion-panel class="big">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Audio
            </mat-panel-title>
            <mat-panel-description>
                Your audio files are here
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="mp3s.length > 0;else nomp3s">
            <mat-grid-list cols="4" rowHeight="150px">
                <mat-grid-tile *ngFor="let file of mp3s; index as i;">
                    <app-file-card [title]="file.title" [name]="file.id" [thumbnailURL]="file.thumbnailURL" [length]="file.duration" [isAudio]="true"></app-file-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel class="big">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Video
            </mat-panel-title>
            <mat-panel-description>
                Your video files are here
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="mp4s.length > 0;else nomp4s">
            <mat-grid-list cols="4" rowHeight="150px">
                <mat-grid-tile *ngFor="let file of mp4s; index as i;">
                    <app-file-card [title]="file.title" [name]="file.id" [thumbnailURL]="file.thumbnailURL" [length]="file.duration" [isAudio]="false"></app-file-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<ng-template #nomp3s>

</ng-template>

<ng-template #nomp4s>

</ng-template>