<div [style.background]="postsService.theme ? postsService.theme.background_color : null" style="width: 100%; height: 100%;">
    <div class="mat-elevation-z3" style="position: relative; z-index: 10;">
        <mat-toolbar color="primary" class="sticky-toolbar top-toolbar">
            <div class="flex-row" width="100%" height="100%">
                <div class="flex-column" style="text-align: left; margin-top: 1px;">
                    <button #hamburgerMenu style="outline: none" *ngIf="router.url.split(';')[0] !== '/player' && allowSubscriptions" mat-icon-button aria-label="Toggle side navigation" (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
                    <button (click)="goBack()" *ngIf="router.url.split(';')[0] === '/player'" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
                </div>
                <div class="flex-column" style="text-align: center; margin-top: 5px;">
                    <div style="font-size: 22px;">{{topBarTitle}}</div>
                </div>
                <div class="flex-column" style="text-align: right; align-items: flex-end;">
                    <button [matMenuTriggerFor]="menuSettings" mat-icon-button><mat-icon>more_vert</mat-icon></button>
                    <mat-menu #menuSettings="matMenu">
                        <button (click)="themeMenuItemClicked($event)" *ngIf="allowThemeChange" mat-menu-item>
                          <mat-icon>{{(postsService.theme.key === 'default') ? 'brightness_5' : 'brightness_2'}}</mat-icon>
                          <span i18n="Dark mode toggle label">Dark</span>
                          <mat-slide-toggle class="theme-slide-toggle" [checked]="postsService.theme.key === 'dark'"></mat-slide-toggle>
                        </button>
                        <button (click)="openSettingsDialog()" mat-menu-item>
                          <mat-icon>settings</mat-icon>
                          <span i18n="Settings menu label">Settings</span>
                        </button>
                        <button (click)="openAboutDialog()" mat-menu-item>
                            <mat-icon>info</mat-icon>
                            <span i18n="About menu label">About</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </mat-toolbar>
    </div>
    <div class="sidenav-container" style="height: calc(100% - 64px)">
        <mat-sidenav-container style="height: 100%">
            <mat-sidenav #sidenav>
                <mat-nav-list>
                    <a mat-list-item (click)="sidenav.close()" routerLink='/home'><ng-container i18n="Navigation menu Home Page title">Home</ng-container></a>
                    <a mat-list-item (click)="sidenav.close()" routerLink='/subscriptions'><ng-container i18n="Navigation menu Subscriptions Page title">Subscriptions</ng-container></a>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content [style.background]="postsService.theme ? postsService.theme.background_color : null">
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>