<h4 style="position: relative" mat-dialog-title><ng-container i18n="About dialog title">About YoutubeDL-Material</ng-container>
    <span class="logo-image">
        <a [href]="projectLink" target="_blank">
            <img style="width: 32px;" src="assets/images/GitHub-64px.png">
        </a>
        <img style="width: 32px; margin-left: 15px;" src="assets/images/logo_128px.png">
    </span>
</h4>
<mat-dialog-content>
    <div style="margin-bottom: 5px;">
        <p>
            <i>YoutubeDL-Material</i>&nbsp;<ng-container i18n="About first paragraph">is an open-source YouTube downloader built under Google's Material Design specifications. You can seamlessly download your favorite videos as video or audio files, and even subscribe to your favorite channels and playlists to keep updated with their new videos.</ng-container>
        </p>
        <p>
            <i>YoutubeDL-Material</i>&nbsp;<ng-container i18n="About second paragraph">has some awesome features included! An extensive API, Docker support, and localization (translation) support. Read up on all the supported features by clicking on the GitHub icon above.</ng-container>
        </p>
        <mat-divider></mat-divider>
        <h5 style="margin-top: 10px;">Installation details:</h5>
        <p>
            <ng-container i18n="Version label">Installed version:</ng-container>&nbsp;{{current_version_tag}} - <span style="display: inline-block" *ngIf="checking_for_updates"><mat-spinner class="version-spinner" [diameter]="22"></mat-spinner>&nbsp;<ng-container i18n="Checking for updates text">Checking for updates...</ng-container></span>
            <mat-icon *ngIf="!checking_for_updates" class="version-checked-icon">done</mat-icon>&nbsp;&nbsp;<ng-container *ngIf="!checking_for_updates && latestGithubRelease['tag_name'] !== current_version_tag"><a [href]="latestUpdateLink" target="_blank"><ng-container i18n="View latest update">Update available</ng-container> - {{latestGithubRelease['tag_name']}}</a>. <ng-container i18n="Update through settings menu hint">You can update from the settings menu.</ng-container></ng-container>
            <span *ngIf="!checking_for_updates && latestGithubRelease['tag_name'] === current_version_tag">You are up to date.</span>
        </p>
        <p>
            <ng-container i18n="Installation type">Installation type:</ng-container>&nbsp;{{postsService.version_info.type}}
            <br>
            <ng-container *ngIf="postsService.version_info.type === 'docker'">
                <ng-container i18n="Docker tag">Docker tag:</ng-container>&nbsp;{{postsService.version_info.tag}}
                <br>
            </ng-container>
            <ng-container i18n="Commit hash">Commit hash:</ng-container>&nbsp;{{postsService.version_info.commit}}
            <br>
            <ng-container i18n="Build date">Build date:</ng-container>&nbsp;{{postsService.version_info.date}}
        </p>
        <p>
            <ng-container i18n="About bug prefix">Found a bug or have a suggestion?</ng-container>&nbsp;<a [href]="issuesLink" target="_blank"><ng-container i18n="About bug click here">Click here</ng-container></a>&nbsp;<ng-container i18n="About bug suffix">to create an issue!</ng-container>
        </p>
        <mat-divider></mat-divider>
        <div style="margin-top: 10px;">
            <h5>Personal settings:</h5>
            <mat-form-field placeholder="Sidepanel mode">
                <mat-select [(ngModel)]="sidepanel_mode" (selectionChange)="sidePanelModeChanged($event.value)">
                    <mat-option value="over">
                        Over
                    </mat-option>
                    <mat-option value="side">
                        Side
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br/>
            <mat-form-field placeholder="Card size">
                <mat-select [(ngModel)]="card_size" (selectionChange)="cardSizeOptionChanged($event.value)">
                    <mat-option value="large">
                        Large
                    </mat-option>
                    <mat-option value="medium">
                        Medium
                    </mat-option>
                    <mat-option value="small">
                        Small
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button style="margin-bottom: 5px;" mat-stroked-button mat-dialog-close><ng-container i18n="Close">Close</ng-container></button>
</mat-dialog-actions>
