i {
    margin-right: 1px;
}

.version-spinner {
    top: 4px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
}

.version-checked-icon {
    top: 4px;
    margin-left: 2px;
    position: relative;
}