.args-edit-button {
    position: absolute;
    margin-left: 10px;
}

.amount-select {
    width: 100px;
    text-align: center;
    margin-left: 10px;
}

.unit-select {
    width: 110px;
    margin-left: 20px;
}