.info-menu-icon {
    float: right;
}

.info-autocomplete-icon {
    float: right;
    position: relative;
    top: -12px;
}

:host ::ng-deep.mat-menu-panel {
    max-width: none !important;
}

:host ::ng-deep.mdc-list-item__primary-text {
    width: 100%;
}