<div class="buttons-container">
  @if (!watch_together_clicked) {
    <button (click)="startWatching()" mat-flat-button>Watch together</button>
  } @else {
    @if (!started) {
      @if (server_already_exists) {
        <button (click)="startClient()" mat-flat-button>Join stream</button>
      } @else if (server_mode) {
        <button (click)="startServer()" mat-flat-button>Start stream</button>
      }
    }
    <button style="margin-left: 10px;" (click)="stop()" mat-flat-button>Stop</button>
  }
</div>