<div class="buttons-container">
  @if (!watch_together_clicked) {
    <button (click)="startWatching()" mat-flat-button>Watch together</button>
  }
  @if (watch_together_clicked && !started && server_mode && server_already_exists === false) {
    <button (click)="startServer()" mat-flat-button>Start stream</button>
  }
  @if (watch_together_clicked && !started && server_already_exists === true) {
    <button (click)="startClient()" mat-flat-button>Join stream</button>
  }
  @if (watch_together_clicked) {
    <button style="margin-left: 10px;" (click)="stop()" mat-flat-button>Stop</button>
  }
</div>