.settings-expansion-panel {
    margin-bottom: 20px;
}

.ext-divider {
    margin-bottom: 14px;
}

.args-edit-button {
    position: absolute;
    margin-left: 10px;
    top: 20px;
}

.enable-api-key-div {
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 15px;
}

.api-key-div {
    display: inline-block;
}